/* RESET DEFAULT STYLE */
html,body,h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 0;
}

.list-inline {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.list-inline li {
  display: inline;
}

a{
  text-decoration: none;
}


/* Font */
body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}
.h3{
  font-family: 'Satisfy', cursive;
  color: #4dd7fa;
  font-size: 50px;
  text-align: center;
}
.h2{
  font-size: 90px;
  letter-spacing: -4px;
  text-align: center;
}



/* Contact nav */
.contacts-socials {
  background-color: #1c1c1c;
  height: 40px;
  line-height: 40px;
  color: #ffffff;
  font-size: 13px;
  display: flex;
  padding-left: 20px;
  padding-right:20px;
}
.contacts-socials .social {
  flex:1;
  text-align: right;
} 
.contacts-socials .contacts ul li {
  margin-right: 15px;
}
.contacts-socials a {
  text-decoration: none;
  color: white;
}
.contacts-socials a:hover {
  color: #4dd7fa;
}
.contacts-socials a i {
  margin-right: 8px;
  font-size: 15px;
  position: relative;
  top: 2px;
}


/* MENU */
.menu{
  height:80px;
  line-height: 80px;
  display: flex;
  padding-left: 20px;
  padding-right:20px;
}
.logo {
  display: flex;
  color: #58330a;
  
}
.menu .logo img {
  height: 80px;
}
.menu .logo h2{
  margin:0;
  font-size: 36px;

}
.navigation{
  flex:1;
  text-align: right;
  font-size: 22px;
  
}
.navigation a{
  color: #58330a;
}
.navigation li {
  margin-left: 25px;
}


/* Slider */

.slider {
  background-image: url("../img/slider-img.jpg");
  height: 630px;
  background-size: cover;
} 
.slider .slider-text h2 {
  font-family: 'Satisfy', cursive;
  color: white;
  font-size: 60px;
  text-shadow: -3px 3px 8px rgba(0,0,0,.5);
  text-align: center;
  padding-top: 135px;
} 
.slider .slider-text h1 {
  color: white;
  font-size: 110px;
  letter-spacing: -4px;
  text-shadow: -3px 3px 8px rgba(0,0,0,.5);
  text-align: center;
}

/* form */
.find-tour-form {
  /* border: 1px solid gray; */
  width: 74%;
  margin: auto;
  height:78px;
  position: relative;
  top: -39px; 
  display: flex;
  box-shadow: 0px 3px 12px rgba(0,0,0,.3);
}
.find-tour-form input, .find-tour-form button{
  flex: 1;
  border: 0;

}
.find-tour-form button{
  background: #4dd7fa;
  color:white;
  font-size: 16px;
  cursor: pointer;
  
}
.find-tour-form input{
  font-size: 14px;
  border-right: 1px solid #c0c0c0;
  padding: 20px;
}
.find-tour-form input:last-of-type{
  border:0;
}

/* Destinations */
.destinations h3 {
  margin-top: 30px;
}
.destinations h2{
  margin-top: -20px;
}
.tour{
  border: 1px solid black;
  width: 314px;
  height: 235px;
  margin: 20px;

}
.destination-tours{
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1068px;
  margin: auto;
}
  
/* best tours */
.best-deals{
  background: #f8f8f8;
}
.best-tour{
  border: 1px solid black;
  width: 300px;
  height: 400px;
  margin: 20px;
}

.best-deal-tours{
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1026px;
  margin: auto;
}
.color{
  height: 42px;
  background: #4dd7fa;
}


/* Form */
.form-img{
  background-image: url(../img/forms-image.jpg);
  padding: 80px;
  background-size: cover; 
}
.form-contact{
  background:  #4dd7fa;
  width: 663px;
  height: 371px;
  margin: auto;
  color: white;
  padding: 20px;
}


/* Footer*/
footer {
  background-color: #212121;
  color: white;
  display: flex;
}
.logo-footer img{
  height: 50px;
}


