/* RESET DEFAULT STYLE */
html, body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.list-inline {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.list-inline li {
  display: inline;
}

a{
  text-decoration: none;
}


/* Font */
body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}
.h3 {
  font-family: 'Satisfy', cursive;
  color: #4dd7fa;
  font-size: 50px;
  text-align: center;
}
.h2{
  font-size: 90px;
  letter-spacing: -4px;
  text-align: center;
}



/* Contact nav */
.contacts-socials {
  background-color: #1c1c1c;
  height: 40px;
  line-height: 40px;
  color: #ffffff;
  font-size: 13px;
  display: flex;
  padding-left: 20px;
  padding-right:20px;
}
.contacts-socials .social {
  flex:1;
  text-align: right;
} 
.contacts-socials .contacts ul li {
  margin-right: 15px;
}
.contacts-socials a {
  text-decoration: none;
  color: white;
}
.contacts-socials a:hover {
  color: #4dd7fa;
}
.contacts-socials a i {
  margin-right: 8px;
  font-size: 15px;
  position: relative;
  top: 2px;
}


/* MENU */
#navbar-main, .img-logo {
  padding-top:0px;
  padding-bottom: 0px;
}

.img-logo img {
  height:80px;
}
.img-logo h2{
  margin:0;
  font-size: 36px;
}

#navbar-main .nav-link {
  font-size: 22px;
  cursor: pointer;
  color: #58330a;
}

#navbar-main .nav-link:hover {
  text-decoration: underline;
}


/* Slider */
.carousel-inner, .carousel-item {
  max-height: 630px;
}

.carousel-caption {
  top: 200px;
}

.slider-text h2 {
  font-family: 'Satisfy', cursive;
  color: white;
  font-size: 60px;
  text-shadow: -3px 3px 8px rgba(0,0,0,.5);
  text-align: center;
  /* padding-top: 135px; */
} 
.slider-text h1 {
  color: white;
  font-size: 110px;
  letter-spacing: -4px;
  text-shadow: -3px 3px 8px rgba(0,0,0,.5);
  text-align: center;
}

/* form */
.find-tour-form {
  /* border: 1px solid gray; */
  width: 74%;
  margin: auto;
  /* height:78px; */
  position: relative;
  top: -39px; 
  display: flex;
  box-shadow: 0px 3px 12px rgba(0,0,0,.3);
}
.find-tour-form input, .find-tour-form button{
  flex: 1;
  border: 0;

}
.find-tour-form button{
  background: #4dd7fa;
  color:white;
  font-size: 16px;
  cursor: pointer;
  padding: 30px;
  
}
.find-tour-form input{
  font-size: 14px;
  border-right: 1px solid #c0c0c0;
  padding: 30px;
}
.find-tour-form input:last-of-type{
  border:0;
}

/* grid  Destinations */
.destinations {
  padding: 40px 0;
}
.destinations h2{
  margin-top: -20px;
} 

.header-tour{
  font-size:35px;
  font-family: 'Satisfy', cursive;
  margin-top:60px;
  color:white;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

.grid{
  display: grid;
  /* grid-template-columns: 315px 315px 315px; */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /* grid-template-rows: 100px 100px; */
  grid-auto-rows: 230px;
  grid-gap: 40px;
  max-width: 1026px;
  margin: auto;
 
}

.grid .grid-tour-thailand{
  background-image: url(../img/thailand.jpg);
  background-size: cover;
}
.grid .grid-tour-dubai{
  background-image: url(../img/dubai.jpg);
  background-size: cover;
}
.grid .grid-tour-sri-lanka{
  background-image: url(../img/sri-lanka.jpg);
  background-size: cover;
}
.grid .grid-tour-dominicana{
  background-image: url(../img/dominicana.jpg);
  background-size: cover;
}
.grid .grid-tour-bali{
  background-image: url(../img/bali.jpg);
  background-size: cover;
}
.grid .grid-tour-greece{
  background-image: url(../img/greece.jpeg);
  background-size: cover;
}


/* Destinations
/* .destinations h3 {
  margin-top: 30px;
}
.destinations h2{
  margin-top: -20px;
} */
/* .tour{ */
  /* border: 1px solid black;
  width: 314px;
  height: 235px;
  margin: 20px;

}
.destination-tours{
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1068px;
  margin: auto;
} */ 

.best-deals{
   padding: 40px 0;
   background-color: #f8f8f8;
}
.best-deals h2{ 
   margin-top: -20px;
}
.header-tour{
  font-size:35px;
  font-family: 'Satisfy', cursive;
  margin-top:60px;
  color:white;
  text-align: center;
}
.grid-best-deal-tours{
  display: grid;
  /* grid-template-columns: 315px 315px 315px; */
  grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
  /* grid-template-rows: 100px 100px; */
  grid-auto-rows: 300px;
  grid-gap: 40px;
  max-width: 1026px;
  margin: auto; 
}

/* Form */


.form-img{
  background-image: url(../img/forms-image.jpg);
  padding: 80px;
  padding-left: 15px;
  padding-right:15px;
  background-size: cover; 
}
.form-contact{
  background:  #4dd7fa;
  margin: auto;
  color: white;
  padding: 20px;
  max-width: 600px;
}
.form-contact p{
  margin-top:10px;
}
.form-group textarea{
  margin-top: 10px;
}
.contact-control{
  background-color: #83D8F8;
  border: none;
  color: white;
  border-radius: 0;
 
}
.contact-control::placeholder{
  color: white;
}
.contact-control:focus{
  background-color:  #83D8F8;
}
.btn-send{
  background-color: white;
  color:black;
  border-radius:0;
  border:none;
}
.btn-send:hover{
  background: #ffb253 ;

}


footer {
  background-color: #212121;
  color: white;
  display: flex;
}
.logo-footer img{
  height: 50px;
}

footer#about-us .contact-list a {
  color: white;
  margin-bottom: 10px;
  display: block;
}

footer#about-us .contact-list a i {
  position: relative;
  top: 7px;
  margin-right: 5px;
}

footer#about-us img {
  max-width: 100%;
}


/* tablet */
@media (max-width:1000px) {
  .h3 {
    font-size: 40px;
  }
  .h2{
    font-size: 50px;
  }

  .carousel-caption {
    top: 50px;
  }

  .slider-text h2 {
    font-size: 40px;
  } 
  .slider-text h1 {
    font-size: 60px;
  }


  header.menu-logo {
    display: block;
    height: auto;
    text-align: center;
  }
  nav.navigation {
    text-align: center;
  }
  .find-tour-form {
    width: 95%;
  }

}

/* mobile */
@media (max-width:700px) {
  .h3 {
    font-size: 30px;
  }
  .h2{
    font-size: 40px;
  }

  .carousel-caption {
    top: 10px;
  }

  .contacts-socials {
    display: none;
  }


  .slider-text h2 {
    font-size: 30px;
  } 
  .slider-text h1 {
    font-size: 40px;
  }

  header.menu-logo {
    display: block;
    height: auto;
    text-align: center;
  }

  header .navigation li {
    display: block;
  }

  .find-tour-form {
    width: 95%;
    display: block;
  }
  .find-tour-form input, .find-tour-form button {
    display: block;
    width: 100%;
    border-right: 0;
    border-bottom: 1px solid #c0c0c0;
    box-sizing: border-box;
  }
}

