/* Contact nav */
.contact-nav {
  background-color: #1c1c1c;
  height: 40px;
  line-height: 40px;
  color: #ffffff;
  font-size: 13px;
  display: flex;
  padding-left: 20px;
  padding-right:20px;
}
.contact-nav .social {
  flex:1;
  text-align: right;
} 
.contact-nav .contacts ul li {
  margin-right: 15px;
}
.contact-nav a {
  text-decoration: none;
  color: white;
}
.contact-nav a:hover {
  color: #4dd7fa;
}
.contact-nav a i {
  margin-right: 8px;
  font-size: 15px;
  position: relative;
  top: 2px;
}


/* MENU */
.menu{
  height:80px;
  line-height: 80px;
  border: 1px solid blue;
  display: flex;
  padding-left: 20px;
  padding-right:20px;
}
.navigation{
  flex:1;
  text-align: right;
  font-size: 22px;
  
}
.navigation a{
  color: #7b4812;
}
.navigation li {
  margin-left: 25px;
}